.tabs
    .tabs__list.container
        a.tabs__link.active(href="#trade") Самостоятельно торговать
        a.tabs__link(href="#investing") Инвестировать
        a.tabs__link(href="#involve") Привлекать инвесторов
