.ways-list
    .container
        h1 Выберите способ заработка
        .ways-list__list
            a.ways-list__item(href="#trade")
                
                .ways-list__icon
                    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 69.7 52.4" style="enable-background:new 0 0 69.7 52.4;" xml:space="preserve")
                        g
                            path(d="M51.9,9.4c1.8,0,3.2,1.4,3.2,3.2c0,1.8-1.4,3.2-3.2,3.2c-0.3,0-0.6,0-0.9-0.1l-0.2-0.1l-5.6,7.7l0.1,0.2c0.4,0.5,0.6,1.2,0.6,1.8c0,1.8-1.4,3.2-3.2,3.2s-3.2-1.4-3.2-3.2c0-0.4,0.1-0.8,0.2-1.2l0.1-0.2l-4.6-4L35,20c-0.9,0.5-2,0.6-2.9,0.1L31.9,20l-4.9,4.9l0.1,0.2c0.2,0.4,0.3,0.9,0.3,1.4c0,1.8-1.4,3.2-3.2,3.2c-0.8,0-1.6-0.3-2.2-0.9l-0.1-0.1l-3.7,1.9l0,0.2c0,0.1,0,0.3,0,0.4c0,1.8-1.4,3.2-3.2,3.2c-1.8,0-3.2-1.4-3.2-3.2c0-1.8,1.4-3.2,3.2-3.2c0.8,0,1.6,0.3,2.2,0.9l0.1,0.1l3.7-1.9l0-0.2c0-0.1,0-0.3,0-0.4c0-1.8,1.4-3.2,3.2-3.2c0.5,0,1,0.1,1.4,0.3l0.2,0.1l4.8-4.9l-0.1-0.2c-0.2-0.4-0.3-0.9-0.3-1.4c0-1.8,1.4-3.2,3.2-3.2c1.8,0,3.2,1.4,3.2,3.2c0,0.4-0.1,0.8-0.2,1.2l-0.1,0.2l4.6,4l0.2-0.1c0.8-0.4,1.7-0.5,2.5-0.3l0.2,0l5.6-7.7l-0.1-0.2c-0.4-0.5-0.6-1.2-0.6-1.8C48.7,10.8,50.1,9.4,51.9,9.4z M53.3,12.6c0-0.8-0.6-1.4-1.4-1.4s-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4S53.3,13.3,53.3,12.6z M44.1,25.2c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4C43.5,26.6,44.1,26,44.1,25.2z M34.9,17.2c0-0.8-0.6-1.4-1.4-1.4s-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4S34.9,17.9,34.9,17.2z M25.7,26.4c0-0.8-0.6-1.4-1.4-1.4c-0.8,0-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4C25.1,27.8,25.7,27.1,25.7,26.4z M16.5,31c0-0.8-0.6-1.4-1.4-1.4s-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4S16.5,31.7,16.5,31z" fill="#009E82")
                        g
                            path.st1(d="M66.1,0H3.6C1.6,0,0,1.6,0,3.6v39c0,2,1.6,3.6,3.6,3.6h19v4.3H19c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9h31.6c0.5,0,0.9-0.4,0.9-0.9c0-0.5-0.4-0.9-0.9-0.9H47v-4.3h19.1c2,0,3.6-1.6,3.6-3.6v-39C69.7,1.6,68.1,0,66.1,0z M45.1,50.5H24.5v-4.3h20.6V50.5z M67.8,42.6c0,0.9-0.8,1.7-1.7,1.7H3.6c-0.9,0-1.7-0.8-1.7-1.7v-1.1h65.9V42.6z M67.8,39.7h-15V21.3c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9v18.4h-7.4v-5.7c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9v5.7h-7.4V25.9c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9v13.8h-7.4v-4.6c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9v4.6H16c0-0.2-0.1-0.5-0.3-0.6c-0.3-0.3-0.9-0.3-1.3,0c-0.2,0.2-0.3,0.4-0.3,0.6H1.9V3.6c0-0.9,0.8-1.7,1.7-1.7h62.5c0.9,0,1.7,0.8,1.7,1.7V39.7z" fill="#1D1D1D")
                
                span Торговать
                
            a.ways-list__item(href="#investing")
                
                .ways-list__icon
                    svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 68.3 61.3' style='enable-background:new 0 0 68.3 61.3;' xml:space='preserve')
                        path(fill="#1D1D1D" d='M61.7,11.3H47.8V6.7c0-3.7-3-6.7-6.7-6.7H26.6c-3.7,0-6.7,3-6.7,6.7v4.6H6.7c-3.7,0-6.7,3-6.7,6.7v36.7\c0,3.7,3,6.7,6.7,6.7H14h9.3h38.4c3.7,0,6.7-3,6.7-6.7V17.9C68.3,14.3,65.3,11.3,61.7,11.3z M21.9,6.7C21.9,4.1,24,2,26.6,2h14.5\c2.6,0,4.7,2.1,4.7,4.7v4.6H21.9V6.7z M66.3,54.6c0,2.6-2.1,4.7-4.7,4.7H23.3h-9.4H6.7c-2.6,0-4.7-2.1-4.7-4.7V17.9\c0-2.6,2.1-4.7,4.7-4.7h55c2.6,0,4.7,2.1,4.7,4.7V54.6z')
                        g
                            g
                                path(fill="#009E82" d='M16.5,43.2c-0.4-0.4-0.4-0.9,0-1.3l0.2-0.2c0.4-0.4,0.9-0.4,1.3,0c0.4,0.4,0.4,0.9,0,1.3l-0.2,0.2\C17.4,43.5,16.8,43.5,16.5,43.2L16.5,43.2z M24.2,21.2l0.2-0.2c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-0.9-0.4-1.3,0l-0.2,0.2\c-0.4,0.4-0.4,0.9,0,1.3C23.2,21.5,23.8,21.5,24.2,21.2L24.2,21.2z M24.9,54.9l0,0.3c0,0.5,0.4,0.9,0.9,0.9c0.3,0,0.5-0.1,0.6-0.3\c0.2-0.2,0.3-0.4,0.3-0.6l0-0.3c0-0.5-0.4-0.9-0.9-0.9C25.4,54,24.9,54.4,24.9,54.9L24.9,54.9z M34.4,54.3c-0.5,0-0.9,0.4-0.9,0.9\c0,0.5,0.4,0.9,0.9,0.9l0.3,0c0.3,0,0.5-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.6c0-0.5-0.4-0.9-0.9-0.9L34.4,54.3z M36.3,18.1\l0.2-0.2c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-0.9-0.4-1.3,0L35,16.8c-0.4,0.4-0.4,0.9,0,1.3C35.3,18.5,35.9,18.5,36.3,18.1L36.3,18.1z\M26,31.2c0.5,0,0.9-0.4,0.9-0.9l0-1.7l1.7,0c0.3,0,0.5-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.6c0-0.5-0.4-0.9-0.9-0.9l-1.7,0l0-1.7\c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9l0,1.7l-1.7,0c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9l1.7,0l0,1.7\C25.1,30.8,25.5,31.2,26,31.2L26,31.2z M46.8,26.9c0-0.5-0.4-0.9-0.9-0.9l-1.7,0l0-1.7c0-0.5-0.4-0.9-0.9-0.9\c-0.5,0-0.9,0.4-0.9,0.9l0,1.7l-1.7,0c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9l1.7,0l0,1.7c0,0.5,0.4,0.9,0.9,0.9\c0.5,0,0.9-0.4,0.9-0.9l0-1.7l1.7,0c0.3,0,0.5-0.1,0.6-0.3C46.7,27.4,46.8,27.2,46.8,26.9L46.8,26.9z M51,31.7l0,0.3\c0,0.5,0.4,0.9,0.9,0.9c0.3,0,0.5-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.6l0-0.3c0-0.5-0.4-0.9-0.9-0.9C51.4,30.8,51,31.2,51,31.7\L51,31.7z M24.7,45.4l0-1.7c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9l0,1.7l-1.7,0c-0.5,0-0.9,0.4-0.9,0.9\c0,0.5,0.4,0.9,0.9,0.9l1.7,0l0,1.7c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9l0-1.7l1.7,0c0.3,0,0.5-0.1,0.6-0.3\c0.2-0.2,0.3-0.4,0.3-0.6c0-0.5-0.4-0.9-0.9-0.9L24.7,45.4z M50.3,19.6l-0.3,0c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9\l0.3,0c0.3,0,0.5-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.6C51.2,20,50.8,19.6,50.3,19.6L50.3,19.6z M35.8,24.5l2.7,9l9,2.8\c0.4,0.1,0.6,0.5,0.6,0.9c0,0.4-0.3,0.8-0.6,0.9l-9,2.7l-2.8,9c0,0.1-0.1,0.3-0.2,0.4c-0.2,0.2-0.4,0.3-0.6,0.3\c-0.4,0-0.8-0.3-0.9-0.6l-2.7-9l-9-2.8c-0.4-0.1-0.6-0.5-0.6-0.9c0-0.4,0.3-0.8,0.6-0.9l9-2.7l2.8-9c0.1-0.4,0.5-0.6,0.9-0.6\C35.3,23.9,35.7,24.1,35.8,24.5L35.8,24.5z M34.9,27.9l-2.1,6.6c-0.1,0.3-0.3,0.5-0.6,0.6l-6.6,2l6.6,2.1c0.3,0.1,0.5,0.3,0.6,0.6\l2,6.6l2.1-6.6c0-0.1,0.1-0.3,0.2-0.4c0.1-0.1,0.2-0.2,0.4-0.2l6.6-2l-6.6-2.1c-0.3-0.1-0.5-0.3-0.6-0.6L34.9,27.9z M17.3,31.6\l0-0.3c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9l0,0.3c0,0.5,0.4,0.9,0.9,0.9c0.3,0,0.5-0.1,0.6-0.3\C17.2,32.1,17.3,31.9,17.3,31.6L17.3,31.6z M17.3,31.6')
                            path(fill="#009E82" d='M44.4,49.8c0.5,0,0.9-0.4,0.9-0.9l0-1.7l1.7,0c0.3,0,0.5-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.6\c0-0.5-0.4-0.9-0.9-0.9l-1.7,0l0-1.7c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9l0,1.7l-1.7,0c-0.5,0-0.9,0.4-0.9,0.9\c0,0.5,0.4,0.9,0.9,0.9l1.7,0l0,1.7C43.5,49.4,43.9,49.8,44.4,49.8L44.4,49.8z')
                            path(fill="#009E82" d='M49.4,38.9l0,0.3c0,0.5,0.4,0.9,0.9,0.9c0.3,0,0.5-0.1,0.6-0.3c0.2-0.2,0.3-0.4,0.3-0.6l0-0.3\c0-0.5-0.4-0.9-0.9-0.9C49.8,37.9,49.4,38.3,49.4,38.9L49.4,38.9z')

                span Инвестировать
                    
            a.ways-list__item(href="#involve")
                
                .ways-list__icon
                    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 21 25.2" style="enable-background:new 0 0 21 25.2;" xml:space="preserve")
                        g
                            polygon(fill="#1D1D1D" points="8.1,3.9 12.9,4.8 12.9,5.4 13.5,5.4 13.5,4.3 7.5,3.2 7.5,5.4 8.1,5.4 	")
                            path(fill="#1D1D1D" d="M17.2,25.2H21l-0.1-0.8l-1.6-11.6l-5.9-1.1V10l0.1-0.1c0.6-0.7,1-1.6,1-2.5l0-0.1l1.1-1.1V2.4\
                            c0-1.3-1.1-2.4-2.4-2.4H7.8C6.5,0,5.4,1.1,5.4,2.4v3.9l1.1,1.1l0,0.1c0.1,0.9,0.4,1.7,1,2.4l0.1,0.1v1.9l-5.9,1.1L0,25.2h3.8v-0.6\
                            H0.7l0.1-0.8v0l0-0.4l1.4-10l1.1-0.2l0,0l2.7-0.5l2.5,3l-0.2,0.1h1l1.2-1.6l1.2,1.6h1l0,0l-0.2-0.1l2.5-3l3.7,0.7l0,0.2l1.4,10.2\
                            l0,0l0.1,0.9h-3.2L17.2,25.2z M7,7.2l0-0.1L6,6.1V2.4c0-1,0.8-1.9,1.9-1.9h5.4c1,0,1.9,0.8,1.9,1.9v3.6L14,7.1v0.1\
                            c0,0.9-0.4,1.8-1.1,2.5c-0.7,0.6-1.5,1-2.4,1c0,0-0.1,0-0.1,0C8.6,10.7,7.1,9.1,7,7.2z M8.9,15.4l-2.3-2.8l1.2-0.2l2.3,1.4\
                            L8.9,15.4z M8.1,11.9v-1.4l0.3,0.2c0.6,0.4,1.3,0.6,1.9,0.6l0.1,0c0.7,0,1.4-0.2,2.1-0.6l0.3-0.2v1.4l-2.4,1.4L8.1,11.9z\
                            M12.1,15.4l-1.2-1.6l2.3-1.4l1.2,0.2L12.1,15.4z")
                            path(fill="#262727" d="M9.3,15.8")
                            path(fill="#262727" d="M11.7,15.8")
                            path(fill="#262727" d="M8.2,15.8")
                            path(fill="#262727" d="M12.8,15.8")
                        rect(fill="none" stroke="#009E82" stroke-width="0.7087" stroke-miterlimit="10" x="4.1" y="16.1" width="12.9" height="8.7")
                        line(fill="none" stroke="#009E82" stroke-width="0.7087" stroke-miterlimit="10" x1="8.4" y1="20.5" x2="12.6" y2="20.5")
                    
                span Привлекать инвесторов
