@font-face {
    font-family: 'PFDinDisplayPro';
    font-weight: normal;
    src: url('../fonts/PFDinDisplayPro-Reg.eot#') format('eot'),
         url('../fonts/PFDinDisplayPro-Reg.woff') format('woff'),
         url('../fonts/PFDinDisplayPro-Reg.ttf')  format('truetype');
}

@font-face {
    font-family: 'PFDinDisplayPro';
    font-weight: 500;
    src: url('../fonts/PFDinDisplayPro-Med.eot#') format('eot'),
         url('../fonts/PFDinDisplayPro-Med.woff') format('woff'),
         url('../fonts/PFDinDisplayPro-Med.ttf')  format('truetype');
}

@font-face {
    font-family: 'PFDinDisplayPro';
    font-weight: 300;
    src: url('../fonts/PFDinDisplayPro-Light.eot#') format('eot'),
         url('../fonts/PFDinDisplayPro-Light.woff') format('woff'),
         url('../fonts/PFDinDisplayPro-Light.ttf')  format('truetype');
}
